# ignore data file
*.csv
*.xlsx
*.txt

# ignore Rhistory
*.Rhistory

# ignore markdown html
*.html

# ignore rsconnect file
rsconnect
*.history
.Rproj.user

# ignore slides folder
Slides/
analysis/
*.Rproj
